<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Account group:</b>
  <%=h @account.account_group.name %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
